@model T2_Rodas_Alonso.Models.Distribuidor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Distribuidor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDistribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDistribuidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioInicioOperacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioInicioOperacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
